<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">avatar</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher.id}}</td>
        <!-- <td>{{teacher.name}}</td> -->
        <td>
          <app-table-name [name]="teacher.name"></app-table-name>
        </td>
        <!-- <td>
          <img [src]="teacher.avatar" class="me-2" style="width: 30px">
        </td> -->

        <td>
          <app-table-avatar 
            [src]="teacher.avatar"
            [age]="teacher.age"
          ></app-table-avatar> 
        </td>
        <td>{{teacher.age}}</td>
        <!-- <td>{{teacher.gender ? 'Nam' : 'Nữ'}}</td> -->
        <!-- <td>
            <span *ngIf="teacher.gender ===1">nam</span>
            <span *ngIf="teacher.gender ===0">nữ</span>
          </td> -->
        <td>
          <app-table-gender [gender]="teacher.gender"></app-table-gender>
        <td>
        <td>
          <app-table-status [status]="teacher.status"></app-table-status>
        </td>
        <!-- <td>
          <span *ngIf="teacher.status ===1">đang làm việc</span>
          <span *ngIf="teacher.status ===0">đã nghỉ</span>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>