<!-- <div>
    <a routerLink="/admin/products/create">
        <button class="btn btn-primary">Thêm mới</button>
    </a>
</div> -->
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>
                <button *ngIf="product.status === 1" class="btn btn-success" (click)="onUpdateStatus(user._id,0)">ON</button>
                <button *ngIf="product.status === 0" class="btn btn-secondary" (click)="onUpdateStatus(user._id,1)">OFF</button>
            </td>
            <td>
                <button class="btn btn-dark"><a routerLink="/admin/products/{{user._id}}">Detail</a></button>
                <button class="btn btn-secondary"><a routerLink="/admin/users/edit/{{user._id}}">Edit</a></button>
                <button class="btn btn-danger" (click)="onDelete(user._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
