<div class="infor" data-aos="fade-up" data-aos-anchor-placement="center-top" data-aos-easing="linear"
    data-aos-duration="1500">
    <div class="container row align-items-center">
        <h3 class="col-4">JOIN MY NEWSLETTER</h3>
        <div class="col-8">
            <form class="row">
                <div class="col-4">
                    <input type="name" style="height: 60px;" placeholder="Your Name" class="form-control" />
                </div>
                <div class="col-4">
                    <input type="email" style="height: 60px;" placeholder="Email" class="form-control" />
                </div>
                <button type="submit" class="btn btn-dark col-4">
                    SUBSCRIBE
                </button>
            </form>
        </div>
    </div>
</div>
<div class="footer mt-5" data-aos="fade-up" data-aos-anchor-placement="center-top" data-aos-easing="linear"
    data-aos-duration="1500">
    <p class="text-center">
        <i class="p-1 fab fa-instagram"></i>SKYE INSTAGRAM
    </p>
</div>
<div class="text-center m-3">
    <i class="p-1 fab fa-facebook"></i>
    <i class="p-1 fab fa-instagram"></i>
    <i class="p-1 fab fa-linkedin-in"></i>
    <i class="p-1 fab fa-twitter-square"></i>
</div>